{% extends "padre.html" %}
{% block title %}Acerca de fixtion{%endblock %}
{%load static %}

{% block contenido%}
<br>
<img src="{% static 'assets/74284477_2701230516589116_842264256639401984_n.jpg' %}" width="200" height="200">
<hr>
<small><h5>Ernesto Castro Peralta</h5></small>
<a href="https://www.w3schools.com/html/html_links.asp">www.google.com<a>
<hr>
<small><h>Bio: Soy Ernesto Castro, arquitecto peruano interesado en la aplicacion de tecnologias en mi disciplina y otros relacionados. En el blog de entrega de Coderhouse puse algunos proyectos que realice en los ultimos meses en el trabajo. Nada complicado...espero que cumpla con los requisitos y les agrade. Saludos.

{% endblock %}