{% extends "padre.html" %}
{% block title %}Eliminar Entrada{%endblock %}
{%load static %}

{% block contenido%}
{% if request.user.is_authenticated %}
    <br/><br/>
    <h3>Delete: {{post.titulo}}</h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <strong>Estas seguro?</strong><br>
        <button type="submit" class="btn btn-secondary">Borrar</button>
    </form>
{% else %}
    <h5>No tienes autorización para estar aqui</h1>
{% endif %}

{% endblock %}