{% extends "padre.html" %}
{% block title %}Entradas{%endblock %}
{%load static %}

{% block contenido%}


{% if not object_list  %}
Aun no hay entradas...<a href = "{% url 'add_post' %}">Cree una!</a>
    {% endif %}

{% for post in object_list %}
    <ul style="text-align:center"><h2><a href="{% url 'detalle' post.pk %}">{{post.titulo}}</a></h2>
        <br>
    <h5>{{ post.descripcion }}</h5>
    <br>
    <h>{{post.contenido|slice:"500"|safe }}... <a class="" href="{% url 'detalle' post.pk %}">(Ver mas)</a></h>
    <br><br>
    <img src="{{post.imagen_referencial.url}}" width="300" height="300">
    <br><br>
    <h6><I>por : {{post.autor}}</I> - {{post.fecha_publicacion}}</h6>
    <br>
    {% if request.user.is_authenticated %}
    <a type="button" class="btn btn-outline-primary" href="{% url 'update_post' post.pk %}">Actualizar</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a type="button" class="btn btn-outline-danger" href="{% url 'delete_post' post.pk %}">Eliminar</a>
    {% endif %}</ul>
    
    <br></br>

{%endfor%}

{% endblock %}